<?xml version="1.0" encoding="utf-8"?><!--
  ~ /*
  ~  * Copyright (c) 2022 NetEase, Inc.  All rights reserved.
  ~  * Use of this source code is governed by a MIT license that can be found in the LICENSE file.
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.netease.yunxin.app.medical">
    <!--    //网络相关-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--    //防止通话过程中锁屏-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--    //视频权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--    //录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--    //修改音频设置-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--    //蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--    //外置存储卡写入权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--    //蓝牙 startBluetoothSco 会用到此权限-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!--    //获取设备信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--    //允许应用程序使用camera硬件资源-->
    <uses-feature android:name="android.hardware.camera" />
    <!--    //自动对焦-->
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 8.0+系统需要-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".MedicalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/medical_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"
            tools:replace="android:value" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name="com.netease.yunxin.app.medical.ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".ui.activity.SelectRoleActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="https://netease.yunxin.medical.selectRole" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginHomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.ConsultationOnlineActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.DoctorDetailActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.SetUpVideoConsultationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.CallActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.SetUpAudioConsultationActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.SetUpTxtImgConsultationActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.AudioNotifyActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.AuthNameActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.KeepLiveActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.AuthMobileActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.AuthPreviewActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.AuthSuccessActivity"
            android:screenOrientation="portrait"
            />

        <service android:name="com.netease.lava.nertc.foreground.ForegroundService"
            android:enabled="true"
            android:exported="false"
            />

    </application>

</manifest>